@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Computer

<h2>Szczegóły komputera</h2>

<div>
    <h4>Nazwa: @Model.Name</h4>
    <p>Procesor: @Model.Processor</p>
    <p>Pamięć: @Model.Memory GB</p>
    <p>Karta graficzna: @Model.GraphicsCard</p>
    <p>Producent: @Model.Manufacturer</p>
    <p>Data produkcji: @Model.ProductionDate.ToShortDateString()</p>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Usuń</a>
    <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>
</div>
